[Unit]
Description=Team Second Place - Smart Home System - Test Rust SSH Deployment

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=<<directory>>/<<binary>>
WorkingDirectory=<<directory>>
Environment=PORT=<<port>>

[Install]
WantedBy=multi-user.target
